

#go_leaderboard_filters {
 margin-right: 20px;
}

#records_tabs a, #records_tabs .tooltip{
  color: blue;
}


.dt-buttons {
  padding: 10px;
}

.hidden_action{display: none;}


.dataTables_processing {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  background-color: lightblue !important;
  z-index: 1 !important;
  margin: 0px !important;
}

.go_tools_section{
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  a {
    color: inherit;
    text-decoration: inherit; /* no underline */
  }
  ul {
    list-style-type: disc;
    padding: 0 10px;
  }
}

#go_tools_wrapper .card{
  width: 300px;
  margin: 10px;
  padding-bottom: 10px;
  height: 90%;
}

#go_tools_wrapper button{
  float:right;

}


.progress-bar-border-swal {
  height: 30px;
  width: 120px;
  border: thin white solid;
  margin: 30px 0px;
  position: relative;
  background-color: lightgrey;
  font-size: 14px;
  box-sizing: unset;
}

.archive_progress_bar{
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #3085d6;
}


.quest_stats_wrapper{
  /* margin: auto; */
  /* width: 200px; */
  /* float: right; */
  display: flex;
  margin: 10px;
  justify-content: center;
  align-items: center;
}
.quest_stats {
  padding: 5px;
  border: 1px solid;
}

.quest_stats.complete{
    background-color: lightgreen;
  }

.quest_stats.started{
    background-color: lightgoldenrodyellow;
  }

.quest_stats.not_started{
    background-color: pink;
  }
