
$corner_radius: 7px;
$padding: 25px;
$half_padding: ($padding / 2);
$text_padding: ($padding / 2) + 3;
$shadow: 1px 1px 4px 0px;

/*
#store {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center ;
    clear: both;

    ul {
        margin: 0px !important;
    }
}

#go_store_container h1 {
    text-align: center !important;
    padding: unset;


}





//store categories styles

//.store_row_container {
    margin: 15px;
    background-color: white;

    background-color: #f8f8f8;


    h2 {
        margin: 10px 0  0 10px;
    }
}
.store_row {
display: flex;
flex-wrap: wrap;
    }
    
.store_cats {
	width: 250px;
    //float: left;
    padding: 10px 30px;
    margin: 10px;
    background-color: white;
    }



.store_items li{
    display: flex;
    flex-direction: column;
    margin: 5px 0;
    align-items: flex-start;
    border-bottom: 1px solid;
    border-color: grey;
    padding-bottom: 5px;
}

.go_store_loot_list{
    display: flex;
    justify-content: center;
}

.go_store_loot_list_item {
    border-radius: 10px;
    padding: 0 5px !important;
    margin: 5px 10px !important;
}

.go_store_loot_list_cost{
    background-color: rgba(255, 192, 203, 0.5);
}

.go_store_loot_list_reward{
    background-color: rgba(144 ,238 ,144, 0.5);
}
*/


/*
store lightbox styles
 */

.featherlight.store .featherlight-content {
    //min-width: 70%;

}

.go_store_lightbox_container {
    //display: flex;
    padding: $padding;
    //height: 100%;
    //padding: 20px 15px 15px 15px;
    max-width: 1000px;
    min-width: 400px;

    .top_content {
        position: relative;
        padding: $padding;
        background-color: white;
        color: black;
        -webkit-border-radius: $corner_radius;
        -moz-border-radius: $corner_radius;
        border-radius: $corner_radius;
        z-index: 99999;
        margin-bottom: $padding;
        //overflow: auto;
        //border-radius: 3px;
        //border: 1px solid black !important;

        .text_wrapper {
            padding: 0 $text_padding ;

            h1,
            .go_store_description
             {
                margin-bottom: $padding;
                display: flex;
            }
        }



    }

    #go_store_loot {
        margin-bottom: $half_padding;
        display: flex;


        .loot_container {
            flex-grow: 1;
            padding-left: $half_padding;
            display: flex;
            align-items: center;
            border-radius: $corner_radius;
            margin: 0 $half_padding;

            .go_store_round_button {
                width: 30px;
                height: 30px;
                position: relative;
                left: -$padding;
                border-radius: 50%;
                border: 3px solid !important;
                box-shadow: 0 0 3px grey;
                text-align: center;
                // color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: Arial, sans-serif;

                div {
                    display: inline-block;
                }
            }

            .loot-box {
                float: left;
                padding: 5px 10px 5px 10px;
                text-align: center;
                font-size: 1em;
                font-weight: bold;
                margin: $half_padding;
                border-radius: $corner_radius;
                border: 1px solid;
            }

            .loot-box.down,
            #gp_store_minus {
                //color: white;
                // background-color: rgba(125, 125, 125, .3);

                -webkit-box-shadow: rgba(0, 0, 0, 0.0) $shadow, inset 0px 0px 15px 15px rgba(0,0,0,0.2);
                -moz-box-shadow: rgba(0, 0, 0, 0.0) $shadow, inset 0px 0px 15px 15px rgba(0,0,0,0.2);
                box-shadow: rgba(0, 0, 0, 0.0) $shadow, inset 0px 0px 15px 15px rgba(0,0,0,0.2);
            }

            .loot-box.up,
            #gp_store_plus {
                // background-color: rgba(125, 125, 125, .3);
                //  color: rgba(125, 125, 125, .3);
                -webkit-box-shadow: rgba(0, 0, 0, 0.0) $shadow, inset 0px 0px 15px 15px rgba(0,0,0,0.2);
                -moz-box-shadow: rgba(0, 0, 0, 0.0) $shadow, inset 0px 0px 15px 15px rgba(0,0,0,0.2);
                box-shadow: rgba(0, 0, 0, 0.0) $shadow, inset 0px 0px 15px 15px rgba(0,0,0,0.2);
            }




            .go_store_loot {
                margin-left: -20px;
                flex-grow: 1;
            }


            #go_badges_groups {
                clear: both;
                padding-top: 20px;
                display: flex;
            }

            #go_badges {
                float: left;
                flex-grow: 1;
            }

            #go_groups {
                padding-left: 20px;
                flex-grow: 1;
            }

        }

        .go_cost {
            //background-color: pink;
        }

        .go_reward {
            //background-color: lightgreen;
        }
    }

    .go_store_actions {
        padding: $padding;
        //background-color: lightgoldenrodyellow;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        //margin: $half_padding;
        border-radius: $corner_radius;
        -webkit-box-shadow: rgba(0, 0, 0, 0.5) $shadow;
        -moz-box-shadow: rgba(0, 0, 0, 0.5) $shadow; /* FF 3.5+ */
        box-shadow: rgba(0, 0, 0, 0.5) $shadow;

        #go_purch_limits {
            flex-grow: 1;
            margin-right: 10px;
        }


        .quantity_container {
            float: left;
            padding: 5px 10px 5px 10px;
            margin-top: 7px;
            text-align: center;
            font-weight: bold;
            margin-right: 1.5%;
            background-color: white;
            color: black;
            border: 1px solid;
            border-color: #0b0b0b;
            border-radius: 3px;
            cursor: pointer;

            .ui-spinner {
                bottom: 1px;
            }

            .go_qty {
                width: 60px;
            }

            /* Chrome, Safari, Edge, Opera */
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            /* Firefox */
            input[type=number] {
                -moz-appearance: textfield;
            }
        }

        .buy_button {
            //float: left;
            /*
            padding: 5px 10px 5px 10px;
            margin-top: 7px;
            text-align: center;
            font-size: 15px;
            font-weight: bold;
            margin-right: 1.5%;
            background-color: #ffcc00;
            color: white;
            border: 1px solid;
            border-radius: 3px;
            cursor: pointer;
            border-color: #c7a000;*/
        }

        .go-lb-loading {
            background: url('../../media/images/ajax-loader.gif');
            width: 16px;
            height: 16px;
            margin: 0 auto;
            margin-top: 25%;
        }

        #go-buy-loading {
            background: url('../../media/images/ajax-loader.gif');
            width: 16px;
            height: 11px;
            margin: 0 auto;
            margin-top: 5px;
            margin-bottom: 5px;
        }

        #golb-fr-purchase-limit {
            position: relative;
            top: 80%;
        }


    }



}