#go_login_center {
  display:none; width:350px; margin: auto;

  #go_login_container {
    margin-top: 20px;
    margin-left: 0;
    padding: 25px;
    font-weight: 400;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,.13);

    #user_login, #user_pass {
      width: 100%;
    }


  }

  .login-submit {float: right;}
}


